.container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: margin-top 0.3s ease-in-out, background-color 0.3s ease-in-out;
    z-index: 1000;
    width: 100%;
    margin-top: 3rem;
  }

  .container.scrolled {
    margin-top: 3rem;
    transition: margin-top 0.1s ease-in-out;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 1000;
  }

  .logo {
    flex: 1;
    margin-left: 10rem;
  }
  
  .nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 10rem;
  }
  
  .nav a {
    text-decoration: none;
    padding: 5px 15px;
    position: relative;
    transition: font-size 0.3s ease-out;
    font-family: var(--font-default);
    color: white;
  }
  
  .nav a span {
    transition: opacity 0.5s ease-out;
    opacity: 1;
  }
  
  .nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 2px solid red;
    transition: width 0.3s ease-out;
  }
  
  .nav a:hover span {
    opacity: 0.5;
  }
  
  .nav a:hover {
    font-size: 100%;
  }
  
  .nav a:hover::before {
    width: 100%;
  }
  