.main {
    font-family: var(--font-default);
    width: 100vw;
    height:100vh;
}

.container {
    width: 100vw;
    height: 100vh;
}

.component {
    position:absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
}