.main {
  font-family: var(--font-default);
}

.image_div {
  position: absolute;
  display:flex;
  align-items: flex-end;
  height: 30rem;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: url('../public/background.jpeg');
  background-size: 100vw 50vw;
  background-position: center;
  animation: zoomIn 3s ease-out forwards;
}

@keyframes zoomIn {
  from {
    background-size: 95% 95%;
  }

  to {
    background-size: 100% 100%;
  }
}

.image_div::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.welcome {
  z-index: 1;
}

.title {
  position: relative;
  margin-left: 10rem;
  padding-bottom: 1rem;
  color: white;
  font-size: 64px;
}

.description {
  position: relative;
  margin-left: 10rem;
  padding-bottom: 2rem;
  color: white;
}

.description::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 1.9rem;
  left: 0;
  background-color: red;  /* Underline color */
  animation: slideIn 3s ease-in-out forwards;  /* Animation name, duration, and type */
}

@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
