.main {
  font-family: var(--font-default);
  display: flex;
  flex-direction: column;
}

.image_div {
  position: relative;
  display:flex;
  align-items: flex-end;
  height: 46rem;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url('../public/background.jpeg');
  background-size: 100vw 50vw;
  background-position: center;
  animation: zoomIn 3s ease-out forwards;
}

@keyframes zoomIn {
  from {
    background-size: 95% 95%;
  }

  to {
    background-size: 100% 100%;
  }
}

.image_div::before {
  content: "";
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.welcome {
  z-index: 1;
}

.title {
  position: relative;
  margin-left: 10rem;
  padding-bottom: 1rem;
  color: white;
  font-size: 64px;
}

.description {
  position: relative;
  margin-left: 10rem;
  padding-bottom: 2rem;
  color: white;
}

.description::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 1.9rem;
  left: 0;
  background-color: red;  /* Underline color */
  animation: slideIn 3s ease-in-out forwards;  /* Animation name, duration, and type */
}

@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

.industry {
  display: flex;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 30rem;
  max-width: 100%;
}

.industryHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 10rem;
  width: 75rem;
}

.industryH1 {
  padding: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 55rem;
  border-bottom: 3px solid red;
}

.industryP {
  padding: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 70rem;
}

.manufacturers {
  background-color: white;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manufacturerText {
  padding-top: 3rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid red;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100rem;
  height: 25rem;
}

.cardlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}

.cardlist li {
  flex-basis: calc(10% -10px);
  margin: 1rem;
}